# This is an example env file should you want to run the bot locally

# Insert the bot token you get from discord dev portal here
BOT_TOKEN="" 
# Insert saucenao key here
SAUCENAO_KEY = "" 
# Insert YouTube key here
YT_KEY = "" 
