# This is an example env file should you want to run the bot locally

BOT_TOKEN = "" # Insert the bot token you get from discord dev portal here
SAUCENAO_KEY "" # Insert saucenao key here
YT_KEY = "" # Insert YouTube key here
