hikari[speedups]==2.0.0
hikari-lightbulb==2.3.5
hikari-miru==3.4

python-dotenv>=0.21.0

arrow
isodate==0.6.1
psutil
feedparser
aiohttp-client-cache==0.8.1
requests
matplotlib
pytz
beautifulsoup4
lxml
rapidfuzz
pandas
pillow
curl_cffi

uvloop